/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #457865;

// Code blocks
$code-block-bg-alpha: -.8;
/*
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900：#212529;
$black: #000;
$primary：#BB4430;
$secondary: #F3DFA2;
$tertiary #0D5C63;
*/


// Base font size
$base-font-size: 20px;

// Heading sizes
$h1-font-size: 2em;
$h2-font-size: 1.75em;
$h3-font-size: 1.5em;

body {
  font-size: $base-font-size;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}
/*
.navbar {
  background-color: #b1040e 
}

.navbar a {
  color: white  
}
*/

/*#2e2d29.su-link:act…us, a:hover	 */
